{% extends "base.html" %}

{% block content %}

<h2>Register Student</h2>

<form method="POST">

<label>Student ID</label>
<input type="text" name="student_id" required>

<label>Full Name</label>
<input type="text" name="full_name" required>

<label>Department</label>
<input type="text" name="department" required>

<label>Semester</label>
<input type="number" name="semester" required>

<label>Email</label>
<input type="email" name="email" required>

<button type="submit">
Register Student
</button>

</form>

<a href="/dashboard">
<button class="secondary">
Back to Dashboard
</button>
</a>

{% endblock %}